.gallery_back {
    margin-bottom: 5px;
}

.gallery_back_link {

}

.gallery_large_wrap {
    display: flex; 
    align-items: center; 
    height: 700px; 
    width: 800px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: red;
}

.gallery_large {
    width: 100%; 
    text-align: center;
}

.gallery_large_image {
    max-width: 700px; 
    max-height: 700px; 
    margin: 0px;
}

.gallery_miniatures_wrap {
    width: 800px;
    overflow-y: auto; 
    background-color: white; 
    border-width: 3px; 
    border-style: solid; 
    border-color: black;
}

.gallery_miniatures {
    display: flex; 
    flex-direction: row; 
}

.miniature_wrap {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin: 2px;
    width: 160px;
    height: 160px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(166, 166, 166, 0.503);
    background-color: rgba(218, 218, 218, 0.217);
    cursor: pointer;
    padding: 0px;
}

.miniature_wrap:hover {
    border-color: black;
}

.miniature {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

