.dark {
    background-color: black;
    color: white;
}

.switch_theme_link {
    background-color: black; 
    color: white; 
    position: absolute; top: 10px; 
    left: 10px; 
    height: 30px; 
    padding: 5px; 
}

.dark .switch_theme_link {
    background-color: white; 
    color: black; 
}