.gallery_wrap {
    display: flex;
    justify-content: center;
    width: 80%;
}

.gallery {
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
    min-width: 650px;
}

.gallery img {
    user-select: none;
    -webkit-user-drag: none;
}

.gallery_large {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

.gallery_large_hide {
    visibility: hidden;
    overflow: clip;
    width: 0px;
    height: 0px;
}

.gallery_back {
    margin: 5px;
}

.gallery_back_link {
    color: black;
}

.gallery_large_container_wrap {
    display: flex; 
    align-items: center; 
    height: 650px; 
    width: 650px;
}

.gallery_large_container {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.gallery_large_image {
    max-width: 640px; 
    max-height: 640px; 
    margin: 5px;
}

.gallery_miniatures_wrap {
    overflow-y: auto; 
    overflow-x: auto;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

.gallery_miniatures {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
}

.gallery_miniatures_vertical { 
    width: 180px;
    height: 700px;
}

.gallery_miniatures_gorizontal {
    width: 650px;
    height: 180px;
    flex-direction: column;
}

.miniature_wrap {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin: 2px;
    width: 160px;
    height: 160px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(166, 166, 166, 0.503);
    background-color: rgba(218, 218, 218, 0.217);
    cursor: pointer;
    padding: 0px;
}

.miniature_wrap_selected {
    border-color: black;
    border-width: 2px;
}

.miniature_wrap:hover {
    border-color: black;
}

.miniature {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.miniature_image {
    margin: 0px;
    max-width: 150px;
    max-height: 150px;
}

@media (max-width: 850px), (max-height: 875px) {
    .gallery {
        max-width: 442px;
        min-width: 325px;
    }

    @media (min-width: 582px) {
        .gallery{
            flex-wrap: nowrap;
        }
    }

    .gallery_large_container_wrap {
        height: 325px; 
        width: 325px;
    }

    .gallery_large_image {
        max-width: 320px; 
        max-height: 320px; 
    }

    .gallery_miniatures {
        height: 350px;
    }
    
    .gallery_miniatures_vertical { 
        width: 90px;
        height: 350px;
    }
    
    .gallery_miniatures_gorizontal {
        width: 325px;
        height: 90px;
        flex-direction: column;
    }

    .miniature_wrap {
        width: 80px;
        height: 80px;
    }

    .miniature_image {
        max-width: 75px;
        max-height: 75px;
    }
}