.image_zoom_div {
	background-color: rgba(127, 127, 127, .5);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
}

.image_zoom, .image_zoom_preload {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	margin: 0px;
	max-width: 90%;
	max-height: 90%;
	visibility: hidden;
}

.zoom_me_out {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #2b2a2a;
	color: #FFFFFF;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 3%;
	border-radius: 5px;
	margin: 0px;
	white-space: nowrap;
	white-space: pre;
}

.dark .zoom_me_out {
	background-color: #2b2a2a;
	color: #FFFFFF;
}

.image_zoom_open_url {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	background-color: #2b2a2a;
	color: #FFFFFF;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 3%;
	border-radius: 5px;
	margin: 0px;
	white-space: nowrap;
	white-space: pre;
}

.dark .image_zoom_open_url {
	background-color: #2b2a2a;
	color: #FFFFFF;
}

.dark .image_zoom_div {
	background-color: rgba(0, 0, 0, 0.8);
}

.image_loading_spinner {
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	visibility: hidden;
}